/* HTML CSS */

/* FONTS */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* normal weight == font-weight: 400; */
/* medium weight == font-weight: 500; */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_dark: #1e2432;
  --button-grey: #edeef5;
  --correct-green: #9aeabc;
  --incorrect-red: #ff9393;
  --red: #ff1e42;
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* viewport height: (min-height: 1vh === 1% of the browser window’s height) */

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* Misc Styles */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* cursor: default, pointer, crosshair, text,wait, help, 
   not-allowed, progress, move, nw-resize, cell, zoom-in, grab */


/* Body Styles */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
/* .btn is for class='btn' */
/* #btn is for id='btn' */

body {
  background:#002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 100%;
  /* max-width: 700px; */
}
.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 4px solid #019f55;
  padding-bottom: 7px;
}

.container h2 {
  padding-bottom: 20px;
}

.container button img {
  width: 28px;
  margin-right: 10px;
}

.container button {
  border: 0;
  outline: 0;
  background: #181e1b;
  color: #fff;
  font-size: 22px;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

.display {
  width: 80%;
  max-width: 700px;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
  display: flex;
}

.display img {
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.display input {
  border: 0;
  outline: 0;
  font-size: 24px;
  width: 85%;
}

.password-strength-container {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 40%;
  width: 100%;
  
}

.password-strength-container input {
  outline: 0;
  margin-top: 10%;
  width: 80%;
  height: 100%;
  padding: 25px 15px;
  border-radius: 10px;
  /* display: flex; */
  font-size: 15px;
  border: 2px solid #ccc;
}
.password-strength-container p {
  margin-top: 10px;
  font-size: 10px;
  text-align: left;
  left: 12%;
  position: relative;
  display: none;
}

#password-img2 {
  border-radius: 20%;
  height: 65px;
  width: 65px;
  /* transform: translate(-150%, 40%); */
  cursor: pointer;
  transform: translateY(40%);
}


/* .btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}
.btn:disabled {
  cursor: not-allowed;
}

/* INPUT ELEMENTS */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */

.container label {
  padding: 20px;
  width: 70%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
}

.container label input{
  height: 20px;
  display: inline-block;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  cursor: pointer;
  border-radius: 4px;
}
/* Hide the default checkbox */
.custom-checkbox input[type='checkbox'] {
  display: none;
}

.custom-checkbox input[type='checkbox'] + .checkmark {
  background-color: red;
  width: 25px;
  height: 25px;
  border: 3px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.custom-checkbox input[type='checkbox']:checked + .checkmark {
  background-color: #019f55;  
}
/* .custom-checkbox input[type='checkbox']:checked + .checkmark::after {
  display: block;
  left: 2px;
  bottom: 5px;
  width: 13px;
  height: 25px;
  border: solid white;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}
.checkmark {
  position: relative;
}
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
} */

/* IMAGES */
/* –––––––––––––––––––––––––––––––––––––––––––––––––– */
.picture1 {
  background-image: url('password.png');
  background-size: cover;
  background-position: center; /* centers the image within the section */
  height: 100vh;
  color: white;
  display: flex; /* centers text */
  justify-content: center; /* centers horizontally */
  align-items: center; /* centers vertically */
}